# Directorios de Zig
.zig-cache/
zig-cache/
zig-out/

# Ejecutable principal
math_app

# Archivos generados por Lex
lex.yy.c

# Archivos generados por Yacc/Bison
y.tab.c
y.tab.h
*.output

# Si usas nombres personalizados para los archivos generados
*.tab.c
*.tab.h
